
.s1{
    height: 1000px;  
}
.a1{
    background-color:blue;
    height: 800px;
   
}
.a1 img{
   position: relative;
   left: -200px;
   bottom: 100px;
    
}
.a2{
    display: flex;
    position: relative;
    left: 300px;
    top: -300px;
   
}
.a3{
    color: red;
    font-size: 150px;
    position: relative;
    top: -400px;
    font-weight: bolder;
}
.a33{
    position: relative;
    bottom: 50px;
    font-size: bold;
}
.a4 img{
    position: relative;
    left: 35px;
    bottom: 160px;
    background-color: white;
    width: 200px; 
}
.a5{
    position: relative;
    left: 300px;
    bottom: 518px;
}
.a5 img{
  border-radius: 50%; 
  border: 65px solid red;
  left: 500px;
}
.a6{
position: relative;
bottom: 140px;
}
.nav{
    height: 120px;
    background-color: black;
}
.nav a{
    color: white;
    font-size: 60px;
    margin-left: 200px;
    
}

.nav-item ko{
    color: white;
}
.si{
    background-color: #DFDFEE; 
    font-size: 100px;
    height: 1550px;width: 100%; 
    position: relative;
    top: -40px;
}
.si p{
    position: relative; top: 9%;
    text-align: justify;
}
.ai{
    font-size: 150px !important;  
   text-align: center !important;
   font-weight: bold;
}
.s2{
    font-size: 50px;
    background-color: white; 
   position: relative;
   bottom: 1150px;
   width: 35%;
   height: 800px;
   margin-left: 1400px;
}
.rowb{
    margin-right: 35%;
}
.row img{
    margin-left: 50px;
}
.s3{ font-size: 80px;
    display: flex;
}
.s31{ 
    width: 60%; height: 1000px; border-radius: 50%; 
    position: relative;
    bottom: 750px;
    left: 600px;
}
.s32{
    position: relative;
    top: 400px;
    left: 80px;
} 
.s33{
width: 5%; 
margin-left: 700px;
position: relative;
bottom: 700px;
} 
.s34{
width: 55%; text-align: justify;
margin-left: 800px; 
position: relative;
bottom: 1500px;
} 
.s4{
 font-size: 80px;  
 position: relative;  
 bottom: 1000px;
}
.s41{
    width: 100%;
    height: 300px;
    position: relative;
    bottom: 250px;
}
.s41 p{
    text-align: center;
    position: relative;
    top: 60px;
}
.s42{
   
    margin-left: 250px;
    width: 50%;
}
.s42 p{
    position: relative;
    left: 450px;
    width: 1000px;
    text-align: justify; 
}
.ss{
    display: flex;
    position: relative;
    top: 150px;

}
.s43{
    height: 1300px;
   background-color: #DFDFEE; 
   position: relative;
   right: 300px;
   position: relative;
   bottom: 300px;
}
.s43 .col{ 
    position: relative;
    top: 60px;
}
.s43 p{
    font-size: 50px !important;

}
.s5{
    position: relative;
    bottom: 1000px;
    height: 1000px;
}
.fin{
    position: relative;
    top: 10px;
    height: 600px;
}
.fin h5{
    font-size: 60px;
}

.mer{
    display: flex;
    gap: 1000px;
    margin-left: 450px;
}
.mer p{
    font-size: 45px;
}
.fin hr{
    width: 100%;
    height: 6px;
    background-color: white;
}
.p{
  text-align: center;
   font-size: 40px;
}



