body{
    overflow-x: hidden;
}
.s1{
    height: 320px;
}
.a1{
    background-color:blue;
    height: 300px;
}
.a1 img{
   position: relative;
   left: -70px;
   bottom: 35px;
    
}
.a2{
    display: flex;
}
.a3{
    color: red;
    font-size: 50px;
    position: relative;
    bottom: 225px;
    font-weight: bolder;
    margin-left: 95px;
}
.a33{
    position: relative;
    bottom: 50px;
    font-size: bold;
}
.a4 img{
    position: relative;
    left: 15px;
    bottom: 190px;
    background-color: white; 
}
.a5{
    position: relative;
    left: 300px;
    bottom: 218px;
}
.a5 img{
  border-radius: 50%; 
  position: relative;
  bottom: 85px;
  border: 25px solid red;
  left: -80px;
}
.a6{
position: relative;
bottom: 140px;
}
.nav{
    height: 50px;
    background-color: black;
}
.nav a{
    color: white;
    font-size: 20px;
    margin-left: 70px;
    
}

.nav-item ko{
    color: white;
}
.ai{
    font-size: 50px;
    color: red;
    font-weight: bold;
    margin-left: 175px;
}
.v{
    margin-left: 800px;
    position: relative;
    bottom: 150px;
}
.aii{
    margin-left: 175px;
}
.s2{
    height: 650px;
    background-color: grey;
    position: relative;
    bottom: 160px;
}
.open{
    position: relative;
    top: 45px;
    margin-left: 400px;
}
.z{
    position: relative;
    top: 200px;
    margin-left: 300px;

}
.l1 img{
    height: 120px;
    width: 120px;
    position: relative;
    bottom: 45px;
}
.l2 img{
    height: 120px;
    width: 120px;
}
.cob{
    margin-left: 700px;
    position: relative;
    bottom: 100px;
}
.cob1{
    position: relative;
    bottom: 10px;
    color: white;
}
.cob3{
    position: relative;
    top: 10px;
    color: blue;
}
.cob2{
    color: aliceblue;
}
.s3{
    height: 800px;
    background-color: beige;
    position: relative;
    bottom: 165px;
}
.po{
    position: relative;
}
.op{
    margin-left: 400px;
    position: relative;
    top: 45px;
}
.evra{
    margin-top: 70px;
    width: 450px;
    height: 210px;
    background-color: azure;
    border-radius: 25px;
    box-shadow: 5px 5px 20px 6px;
    border-bottom: 10px solid crimson;
}
.evra img{
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    shape-outside: content-box;
}
.ri{
    display: flex;
    gap: 300px;
    position: relative;
    top: 100px;
}
.louv{
    margin-top: 240px;
    margin-left: 50px;
}
.yu{
    margin-left: 50px;
}
.kod{
    border: 1px solid blue;
    position: relative;
    top: 50px;
}
.bel{
    position: relative;
    left: 200px;
   width: 0PX;
   
}
.fin{
    position: relative;
    top: -25px;
    height: 250px;
}

.mer{
    display: flex;
    gap: 350px;
    margin-left: 70px;
}
.fin hr{
    width: 100%;
    height: 3px;
    background-color: white;
}
.p{
   position: relative;
   left: 450px;
}

